# Market Basket Optimization - Eclat

Dataset - https://www.kaggle.com/datasets/dragonheir/basket-optimisation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing dataset

In [2]:
dataset = pd.read_csv('./Market_Basket_Optimisation.csv',header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data preprocessing

In [3]:
transactions = dataset.values.astype(str).tolist()

## Training the Eclat model

In [4]:
from apyori import apriori
rules = apriori(transactions=transactions, min_support=0.003, min_confidence=0.2, min_lift=3, min_length=2, max_length=2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [5]:
results = list(rules)

### Putting the results in DataFrame

In [6]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support'])

### Displaying the results unsorted

In [7]:
resultsinDataFrame

         Left Hand Side Right Hand Side   Support
0           light cream         chicken  0.004533
1  mushroom cream sauce        escalope  0.005733
2                 pasta        escalope  0.005866
3         fromage blanc           honey  0.003333
4         herb & pepper     ground beef  0.015998
5          tomato sauce     ground beef  0.005333
6           light cream       olive oil  0.003200
7     whole wheat pasta       olive oil  0.007999
8                 pasta          shrimp  0.005066

### Displaying the results sorted by descending lifts

In [8]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

         Left Hand Side Right Hand Side   Support
4         herb & pepper     ground beef  0.015998
7     whole wheat pasta       olive oil  0.007999
2                 pasta        escalope  0.005866
1  mushroom cream sauce        escalope  0.005733
5          tomato sauce     ground beef  0.005333
8                 pasta          shrimp  0.005066
0           light cream         chicken  0.004533
3         fromage blanc           honey  0.003333
6           light cream       olive oil  0.003200